<%= render partial: 'layouts/navbar' %>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="btn-toolbar" style="display: flex; margin-top: 15px;">
        <div style="margin: auto;">
          <%= link_to 'Bitcoin', currency_path('Bitcoin'), class:"btn btn-link" %>
          <%= link_to 'Ethereum', currency_path('Ethereum'), class:"btn btn-link" %>
          <%= link_to 'Nasdaq', currency_path('Nasdaq'), class:"btn btn-link" %>
        </div>
      </div>
      <h1>Values Over Time </h1>
      <hr>
      <% if params[:id] %>
        <h3> Graph of <%= link_to("#{params[:id]}", "https://en.wikipedia.org/wiki/#{params[:id]}") %>: </h3>
        <% else %>
        <h3> Choose a currency please: </h3>
        <% end %>
          <%= area_chart @currencies, refresh: 60 %><br>
          <hr>
          <div class="container twitter" id="twitter">
            <h3 class="twitter-headline">Bitcoin Pricing Updates from Twitter</h3>
            <hr>
            <ul>
              <% cache('btc_price_tweet', expires_in: 6.hours) do %>
                <% TwitterApi.btc_price_tweet.each do |tweet| %>
                  <li><%= tweet.text %></li>
                <% end %>
              <% end %>
            </ul>
            <h3 class="twitter-headline">Bitcoin News from Twitter</h3>
            <hr>
            <ul>
              <% cache('btc_news', expires_in: 30.minutes) do %>
                <% TwitterApi.btc_news.each do |tweet| %>
                  <li><%= tweet.text %></li>
                <% end %>
              <% end %>
            </ul>
            <h3 class="twitter-headline">Ethereum Pricing Updates from Twitter</h3>
            <hr>
            <ul>
              <% cache('eth_price_tweet', expires_in: 3.hours) do %>
                <% TwitterApi.eth_price_tweet.each do |tweet| %>
                  <li><%= tweet.text %></li>
                <% end %>
              <% end %>
            </ul>
            <h3 class="twitter-headline">Ethereum News from Twitter</h3>
            <hr>
            <ul>
              <% cache('eth_news', expires_in: 30.minutes) do %>
                <% TwitterApi.eth_news.each do |tweet| %>
                  <li><%= tweet.text %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <hr>
      <div class="container-fluid">
        <div class="row">
         <div class="col-md-8">
           <div id="messages"></div>
           <input id="chat-input" class="form-control" type="text" placeholder="Start chatting..." autofocus/>
         </div>
        </div>
      </div>
      <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
      <div style="height: 1000px;"></div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <!-- Toggle between fixed and static navbar-->
    <script>
    $('#toggleNavPosition').click(function() {
      $('body').toggleClass('fixed-nav');
      $('nav').toggleClass('fixed-top static-top');
    });
    </script>
    <!-- Toggle between dark and light navbar-->
    <script>
    $('#toggleNavColor').click(function() {
      $('nav').toggleClass('navbar-dark navbar-light');
      $('nav').toggleClass('bg-dark bg-light');
      $('body').toggleClass('bg-dark bg-light');
    });
    </script>
</div>
