
<%= render partial: 'layouts/navbar' %>


  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="btn-toolbar" style="display: flex; margin-top: 15px;">
        <div style="margin: auto;">
          <%= link_to 'Bitcoin', currency_path('Bitcoin'), class:"btn btn-link" %>
          <%= link_to 'Ethereum', currency_path('Ethereum'), class:"btn btn-link" %>
          <%= link_to 'Nasdaq', currency_path('Nasdaq'), class:"btn btn-link" %>
        </div>
      </div>
      <h1>Values Over Time </h1>
      <hr>
      <% if params[:id] %>
        <h3> Graph of <%= link_to("#{params[:id]}", "https://en.wikipedia.org/wiki/#{params[:id]}") %>: </h3>
        <% else %>
        <h3> Choose a currency please: </h3>
        <% end %>

          <%= area_chart @currencies, refresh: 60 %><br>
          <hr>
          <div class="container" id="twitter">
            <div class="row align-items-start">
                <h3 class="col-md-3">Bitcoin Price</h3>
                <hr>
                <ul>
                  <% cache('btc_price_tweet', expires_in: 6.hours) do %>
                    <% TwitterApi.btc_price_tweet.each do |tweet| %>
                    <div class="card" >
                      <h4 class="card-header"><%= tweet.user.screen_name %></h4>
                      <p class="card-body"><%= tweet.text %></p>
                      <% end %>
                    </div>
                  <% end %>
                </ul>
                <h3 class="col-md-3">Bitcoin News</h3>
                <hr>
                <ul>
                  <% cache('btc_news', expires_in: 30.minutes) do %>
                    <% TwitterApi.btc_news.each do |tweet| %>
                      <div class="card" >
                        <h4 class="card-header"><%= tweet.user.screen_name %></h4>
                        <p class="card-body"><%= tweet.text %></p>
                    <% end %>
                  <% end %>
                </div>
                </ul>
                <h3 class="col-md-3">Ethereum Price</h3>
                <hr>
                <ul>
                  <% cache('eth_price_tweet', expires_in: 3.hours) do %>
                    <% TwitterApi.eth_price_tweet.each do |tweet| %>
                    <div class="card">
                    <h4 class="card-header"><%= tweet.user.screen_name %></h4>
                      <p class="card-body"><%= tweet.text %></p>
                    <% end %>
                  <% end %>
                  </div>
                </ul>
                <h3 class="col-md-3">Ethereum News</h3>
                <hr>
                <ul>
                  <% cache('eth_news', expires_in: 30.minutes) do %>
                    <% TwitterApi.eth_news.each do |tweet| %>
                    <div class="card">
                    <h4 class="card-header"><%= tweet.user.screen_name %></h4>
                      <p class="card-body"><%= tweet.text %></p>
                    <% end %>
                  <% end %>
                </div>
                </ul>

            </div>
          </div>
          <hr>
          <h1>TikTalk Chatroom:</h1>
        <section>
        <div id="messages"></div>
          <input id="chat-input" type="text" placeholder="say anything" autofocus/>
        </section>

        <script src="https://media.twiliocdn.com/sdk/js/chat/v1.0/twilio-chat.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="index.js"></script>
      <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
      <div style="height: 1000px;"></div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
</div>
