<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Account</title>

  </head>
  <body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Register an Account</div>
          <div class="card-body">
             <%= form_for(@user) do |f| %>
              <p><%= f.label :first_name, "First Name:" %>
              <%= f.text_field :first_name %></p><br/>

              <p><%= f.label :last_name, "Last Name:" %>
              <%= f.text_field :last_name %></p><br/>

              <p><%= f.label :username, "Username:" %>
              <%= f.text_field :username %></p><br/>

              <p><%= f.label :email, "Email:" %>
              <%= f.email_field :email %></p><br/>

              <p><%= f.label :phone, "Phone:" %>
              <%= f.telephone_field :phone, placeholder: 'xxx-xxx-xxxx' %></p><br/>

              <p><%= f.label :password, "Password:" %>
              <%= f.password_field :password %></p><br/>
              <%= f.submit "Create Account", class: 'btn btn-outline-success' %>
            <% end %>
          </div>
        </div>
      </div>
  </body>
</html>
