<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 class="navbar-brand mb-0">BEN ticker</h1>
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>


  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
       <ul class="nav navbar-nav navbar-right bg-dark">
         <% if current_user %>
           <li><%= link_to 'Bitcoin', currency_path('Bitcoin') %></li>
           <li><%= link_to 'Ethereum', currency_path('Ethereum') %></li>
           <li><%= link_to 'Nasdaq', currency_path('Nasdaq') %></li>
           <li><%= link_to "Welcome, #{current_user.first_name}", root_path %></li>
           <li><%= link_to 'Logout', logout_path, method: :delete %></li>
         <% else %>
           <li><%= link_to 'Login', login_path %></li>
         <% end %>
       </ul>
     </div>
 </div>
</nav>
